@import '/src/components/common.scss'; 

.panel-container {
  display: flex;
  flex-direction: column;
  width: 25vw;
  padding: $BASE_PADDING_UNIT + 3;
  background-color: #F7F7FA;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: $BASE_BORDER_RADIUS;
  pointer-events: auto;
  cursor: default;
  z-index: $MAP_ZINDEX + 999;

  .panel-markers-title {
    display: flex;
    font-size: font-size(18);
    font-weight: 600;
    align-items: center;
    vertical-align: middle;
    padding: $BASE_PADDING_UNIT*2 $BASE_PADDING_UNIT;

    .icon {
      padding: $BASE_PADDING_UNIT + 3;
    }
  }

  .panel-markers-sub {
    display: flex;
    font-size: font-size(12);
    padding: $BASE_PADDING_UNIT;
  }

  .panel-footer-container {
    display: flex;
    flex-direction: row;
    padding: $BASE_PADDING_UNIT 0;

    .panel-footer-item {
      display: flex;
      margin: $BASE_MARGIN_UNIT;
      margin-left: 0;
  
      .panel-footer-item-btn {
        background-color: #f2f2f2;
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: $BASE_BORDER_RADIUS;
        cursor: pointer;
      }
    }
  }
}