@import '/src/components/common.scss'; 

.panel-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 350px;
  max-height: 500px;
  padding: $BASE_PADDING_UNIT + 3;
  margin: $BASE_MARGIN_UNIT;
  background-color: #F7F7FA;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: $BASE_BORDER_RADIUS;
  pointer-events: all;
  cursor: default;

  .panel-markers-title {
    display: flex;
    font-size: font-size(18);
    font-weight: 500;
    align-items: center;
    vertical-align: middle;

    .icon {
      padding: $BASE_PADDING_UNIT + 3;
    }
  }

  .panel-footer-container {
    display: flex;
    flex-direction: row;
    padding: $BASE_PADDING_UNIT 0;

    .panel-footer-item {
      display: flex;
      margin: $BASE_MARGIN_UNIT;
      margin-left: 0;
  
      .panel-footer-item-btn {
        background-color: #f2f2f2;
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: $BASE_BORDER_RADIUS;
        cursor: pointer;
      }
    }
  }
}