@import '/src/common.scss'; 

.markers-container {
  font-size: font-size(14);
  background-color: #F2F2F5;
  border-radius: 5px;
  padding: 5px;

  .mapped-markers-container {
    display: flex;
    flex-direction: column;
  
    .marker-item {
      display: flex;
      flex-direction: row;
      padding: 5px;
      border-bottom: 1px solid #8F90A6;
  
      .marker-info-group {
        width: 300px;

        .marker-item-name {
          height: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;     
        }

        .marker-item-position {
          height: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; 
        }
      }

      .marker-action-group {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        flex-wrap: wrap;
        width: 50px;

        .marker-item-delete {
          color: #E53535
        }

        .marker-item-copy {
          .copied {
            color: green;
          }
        }
      }
    }
  }
}
