@import '/src/components/common.scss'; 

.main-container {
  display: flex;

  .map {
    width: 75vw;
    height: 100vh;
    z-index: $MAP_ZINDEX;
  }

  .sub-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #F7F7FA;


    .panel-wrapper {
      display: flex;
    }
  }
}